<div class="card" style="width: 18rem;">
  <img class="card-img-top" [src]="bien.image" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{bien.title | uppercase}}</h5>
    <p class="card-text">{{bien.descriptions | summarize: 80}}</p>
    <span class="float-left btn btn-sn btn-outline-danger">{{bien.price  }}</span>
    <span class="btn btn-sm text-center "> {{bien.creatAt | timeLefte }}</span>
    <a  [routerLink]="['/biens',bien.id]" class="btn btn-sm btn-primary float-right nav-link">Reserver</a>
  </div>
</div>
